* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}

header img {
    height: 50px;
    width: 50px;
    border-radius: 20px;

}

header {
    background-color: orange;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    flex-wrap: wrap;
    top: 0;
}

button {
    background-color: transparent;
    border: transparent;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    display: flex;
    padding: 1em;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
}

header a:hover,
header button:hover {
    color: white;
}


/* Main */
main {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    flex-wrap: wrap;
}

main img {
    transition: 0.7s;
    width: 550px;
}

main img:hover {
    transform: scale(1.02, 1.02);
    transition: 0.7s;
}

main h2,
h3 {
    color: #FE6A06;
    font-weight: bolder;
    font-size: 42px;
}

main p {
    font-size: 25px;
    color: #000000;
}

main>div {
    flex-wrap: wrap;
}

/* section 1 */
.section-1 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    max-width: 100%;
}

.section-1 img {
    width: 50%;
    max-width: 550px;
    border-radius: 10px;
    padding-block: 10%;
    min-width: 250px;
}

.section-1 div {
    width: 40%;
}

.section-1,
.texto {
    margin-right: 5%;
    width: 100%;
}

.section-1 .texto p {
    font-size: 80%;
    font-size: min(20px);
    width: 100%;
}

.section-1 .texto h2 {
    padding-top: 10%;
    font-size: 80%;
    font-size: min(20px);
    width: 100%;
    font-size: 40%;
    font-size: max(42px);

}

/* section 2*/
.section-2 {
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #E5E3E1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;

}

.section-2 div {
    width: 40%;
}

.section-2 img {
    width: 50%;
    max-width: 550px;
    border-radius: 10px;
    padding-block: 10%;
    min-width: 250px;
}

.section-2 .texto {
    margin-left: 100px;
    margin-top: 10%;
}

.section-2 .texto p {
    font-size: 80%;
    font-size: min(20px);
}

.section-2 .texto h3 {
    padding-top: 10%;
    font-size: min(20px);
    width: 100%;
    font-size: 40%;
    font-size: max(42px);
}

/* section 3 */
.section-3 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    min-height: 700px;
    max-width: 100%;
}

.section-3 img {
    border-radius: 10px;
    width: 60%;
    max-width: 550px;
    min-width: 250px;

}

.section-3 div {
    width: 40%;
}

.section-3,
.texto {
    margin-right: 100px;
}

.section-3 h3 {
    font-size: 42px;
    margin-bottom: 10px;
}

.section-3 p {
    font-size: 25px;
}

/* section 4 */
.section-4 {
    flex-wrap: wrap;
    height: 100%;
    max-height: 40%;
    width: 100%;
    background-image: url(imagens/pessoas-andando.jpg);
    background-size: 100%;
    ;
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;

    display: flex;
    justify-content: center;
    align-items: center;
}


.section-4 h3 {
    text-align: center;
    max-width: 100%;
    color: white;
    font-size: max(1.8vw);
    text-shadow: 3px 3px 4px #000000;
    padding-block: max(10%);
}


/* section 5 */
.section-5 {
    flex-wrap: wrap;
    width: 100%;
    background-color: #E5E3E1;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    min-height: 700px;
    max-width: 100%;
    padding-block: 10%;
}

.section-5 img {
    border-radius: 10px;
}

.section-5 div {
    width: 40%;
}

.section-5,
.texto {
    margin-right: 100px;
}

.section-5 .texto p {
    color: black
}

.section-6 {
    min-height: 700px;
    max-width: 100%;
    padding-top: 3rem;
    width: 100%;
    padding-bottom: 4rem;
}

.section-6 form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 700px;
    max-width: 100%;
    padding-top: 3rem;
    width: 600px;
    margin: auto;
    padding-bottom: 4rem;
    padding-inline: 10%;
}

.section-6 #enviar {
    margin-top: 1rem;
    width: 99%;
    height: 3rem;
    text-align: end;
}

.section-6 #enviar input {
    cursor: pointer;
    border-radius: 0.45rem;
    height: 100%;
    width: 9rem;
    background-color: #FE6A06;
    color: white;
    font-size: medium;
    border: none;
    font-weight: 700;
    box-shadow: 2px 3px 0px #000000;
}

#mensagem input {
    display: flex;
    flex-direction: column;
    height: 3.3rem;
    margin-bottom: 1.5rem;
    padding-top: 0.1rem;
}

#mensagem input,
textarea {
    width: 100%;
    font-size: max(15px);
    border-radius: 0.5rem;
    font-weight: 600;
    border: 1.5px solid #6e6e6e;
}

/* Footer */
img {
    max-width: 100%;
    width: 100px;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.footer-container {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.918);
}

.footer01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.icons {
    display: flex;
    gap: 20px;
    color: white;
}

.footer2 {
    text-align: center;
    background-color: rgb(243, 245, 246);
    padding: 5px 0;
    font-weight: bold;
    color: rgb(5, 5, 5);
}

.content {
    height: 100vh;
}

@media (max-width: 480px) {
    .footer01 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        height: 10%;
    }

    .logo {
        display: none;
    }

    .icons {
        padding: 20px;
    }
}

@media (max-width: 1080px) {
    .section-2 {
        flex-direction: column-reverse;
    }
}


@media screen and (min-device-width : 320px) and (max-device-width : 480px) {

    header {
        max-height: 700px;
        padding-bottom: 10px;
    }

    header nav ul {
        display: flex;
        justify-content: center;
    }

    header .nav ul li {
        display: flex;
        align-items: center;
        max-height: 45px;

    }

    header nav ul a {
        height: 40%;
    }

    header {
        position: relative;
    }

    header button {
        text-align: end;
        position: absolute;
        top: 2px;
        right: 30px;
        font-size: 15px;
    }

    .section-4 {

        height: 100%;
        max-height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-4 h3 {
        text-align: center;
        max-width: 100%;
        color: white;
        font-size: max(4.5vw);
        text-shadow: 3px 3px 4px #000000;
        padding-block: max(10%);
    }

    .section-5 h2,
    p {
        padding-bottom: 20%;
    }

    .section-2 .texto h3 {
        font: 27px;
    }
}
