* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: repeat(3, 1fr);
}

header img {
    height: 50px;
    width: 50px;
    box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

header {
    background-color: orange;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

button {
    background-color: orange;
    border: transparent;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    display: flex;
    padding: 1em;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

header a:hover,
header button:hover {
    color: white;
}


/* Main */
main {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    flex-wrap: wrap;
}

main img {
    transition: 0.7s;
    width: 550px;
}

main img:hover {
    transform: scale(1.02, 1.02);
    transition: 0.7s;
}

main h2,
h3 {
    color: #FE6A06;
    font-weight: bolder;
    font-size: 42px;
}

main p {
    font-size: 25px;
    color: #000000;
}

main>div {
    flex-wrap: wrap;
}


/* section 1 */
.section-1 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.section-1 img {
    border-radius: 10px;
}

.section-1 div {
    width: 40%;
}

.section-1,
.texto {
    margin-right: 100px;
}


/* section 2*/
.section-2 {
    max-width: 100%;
    background-color: #E5E3E1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;

}

.section-2 div {
    width: 40%;
}

.section-2 img {
    border-radius: 10px;
}

.section-2 .texto {
    margin-left: 100px;
}


/* section 3 */
.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    height: 700px;
}

.section-3 img {
    border-radius: 10px;
}

.section-3 div {
    width: 40%;
}

.section-3,
.texto {
    margin-right: 100px;
}

.section-3 h3 {
    font-size: 42px;
    margin-bottom: 10px;
}

.section-3 p {
    font-size: 25px;
}


/* section 4 */
.section-4 {
    height: 400px;
    width: 100%;
    background-image: url(imagens/pessoas-andando.jpg);
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 h3 {
    color: white;
    font-size: 30px;
    text-shadow: 3px 3px 4px #000000;
}


/* section 5 */
.section-5 {
    width: 100%;
    background-color: #E5E3E1;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    height: 700px;
}

.section-5 img {
    border-radius: 10px;
}

.section-5 div {
    width: 40%;
}

.section-5,
.texto {
    margin-right: 100px;
}

.section-5 .texto p {
    color: black
}


/* Footer */
img {
    max-width: 100%;
    width: 100px;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.footer-container {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.918);
}

.footer01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.icons {
    display: flex;
    gap: 20px;
    color: white;
}

.footer2 {
    text-align: center;
    background-color: rgb(243, 245, 246);
    padding: 5px 0;
    font-weight: bold;
    color: rgb(5, 5, 5);
}

.content {
    height: 100vh;
}

@media (max-width: 480px) {
    .footer01 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .icons {
        padding: 20px;
    }
}
